
<%= form_for(@form_barat) do |f| %>
  <% if @form_barat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form_barat.errors.count, "error") %> prohibited this form_barat from being saved:</h2>

      <ul>
      <% @form_barat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style>
    .jumbotron {
        border: 1px solid black;
        background-color: white;
    }
  </style>

<div class="container">
<br /><br />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Form</a></li>
      <li><a href="#tab2" data-toggle="tab">Dokumentasi</a></li>
    </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <center><h1 class="display-4">Form Survey</h1></center>
          <hr >
          <div class="form-group">
            <%= f.label :side_id, "Site ID" %><br>
            <%= f.text_field :side_id, class: "form-control", placeholder: "" %>
          </div>
          <div class="form-group">
            <%= f.label :nama_site_id, "Nama Site" %><br>
            <%= f.text_field :nama_site_id, class: "form-control", placeholder: "" %>
          </div>

          <div class="form-group">
            <%= f.label :provinsi %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[provinsi]" id="form_barat_provinsi">
              <option disabled selected>Select One</option>
              <option>Aceh</option>
              <option>Sumatera Utara</option>
              <option>Riau</option>
              <option>Kepulauan Riau</option>
              <option>Sumatera Barat</option>
              <option>Bengkulu</option>
              <option>Sumatera Selatan</option>
              <option>Lampung</option>
              <option>Banten</option>
              <option>Jawa Timur</option>
            </select>
          </div>

          <div class="form-group">
            <%= f.label :kabupaten %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kabupaten]" id="form_barat_kabupaten">
              <option disabled selected>Select One</option>
              <option>Aceh Besar</option>
              <option>Aceh Singkil</option>
              <option>Nias</option>
              <option>Nias Selatan</option>
              <option>Kepulauan Meranti</option>
              <option>Natuna</option>
              <option>Bintan</option>
              <option>Pasaman Barat</option>
              <option>Solok Selatan</option>
              <option>Bengkulu Utara</option>
              <option>Seluma</option>
              <option>Musi Rawas</option>
              <option>Musi Rawas Utara</option>
              <option>Pesisir Barat</option>
              <option>Lebak</option>
              <option>Pandeglang</option>
              <option>Bondowoso</option>
            </select>
          </div>
          

          <div class="form-group">
            <%= f.label :kecamatan %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kecamatan]" id="form_barat_kecamatan">
              <option disabled selected>Select One</option>
              <option>Mentarang</option>
              <option>Malinau Selatan Hilir</option>
              <option>Malinau Selatan</option>
              <option>Haharu</option>
              <option>Lewa Tidas</option>
              <option>Kahaungu Eti</option>
              <option>Pandawai</option>
              <option>Ngadu Ngala</option>
              <option>PinuPahar</option>
              <option>Rindi</option>
              <option>Alor Barat Daya</option>
              <option>Alor Barat Laut</option>
              <option>Kabola</option>
              <option>Tinangkung</option>
              <option>Peling Tengah</option>
              <option>Kwandang</option>
              <option>Ponelo Kepulauan</option>
              <option>Komodo</option>
              <option>Welak</option>
              <option>Kuwus</option>
              <option>Lembor Selatan</option>
              <option>Ndoso</option>
              <option>Boleng</option>
              <option>Mbeliling</option>
              <option>Buntulia</option>
              <option>Dengilo</option>
              <option>Duhiadaa</option>
              <option>Patilanggio</option>
              <option>Popayato Barat</option>
              <option>Popayato</option>
              <option>Randangan</option>
              <option>Buer</option>
              <option>Moyo Utara</option>
              <option>Lenangguar </option>
              <option>Alas</option>
              <option>Taliwang</option>
              <option>Brang Ene</option>
              <option>Jereweh</option>
              <option>Sekongkang</option>
              <option>Seteluk</option>
              <option>Pota Tano</option>
              <option>Taliwang</option>
              <option>Sungai Boh</option>
              <option>Kayan Selatan</option>
              <option>Sungai Tubu</option>
              <option>Timor Tengah Utara</option>
              <option>Biboki Tanpah</option>
              <option>Biboki Feotleu</option>
              <option>Biboki Utara</option>
              <option>Biboki Selatan</option>
            </select>
          </div>

          <div class="form-group">
            <%= f.label :kelurahan %><br>
            <%= f.text_field :kelurahan, class: "form-control", placeholder: "Kelurahan" %>
          </div>

          <div class="form-group">
            <%= f.label :alamat %><br>
            <%= f.text_field :alamat, class: "form-control", placeholder: "Alamat" %>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :surveyor %><br>
                <%= f.text_field :surveyor, class: "form-control" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :project %><br>
                  <%= f.text_field :project, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Koordinat</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :lattide %><br>
                <%= f.text_field :lattide, class: "form-control", placeholder: "-6.238270" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :longitude %><br>
                  <%= f.text_field :longitude, class: "form-control", placeholder: "106.975573" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Ketersediaan Listrik</h2></center>
          <hr>
          
          <div class="form-group">
            <%= f.label :sumber_listrik %><br />
            <label class="radio-inline">
              <input type="radio" name="optradio" value="ada" class="detail">Jika Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" value="tidak" class="detail">Jika Tidak 
            </label>
            <br /><br />
            <div id="form-input">
              <%= label_tag 'sumber_listrik_PLN', 'PLN' %>
              <%= check_box_tag 'form_barat[sumber_listrik][]', 'PLN', checked2('PLN'), id: 'sumber_listrik_PLN' %> &nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_SolarSel', 'SolarSel' %>
              <%= check_box_tag 'form_barat[sumber_listrik][]', 'SolarSel', checked2('SolarSel'), id: 'sumber_listrik_SolarSel' %>&nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_Genset', 'Genset' %>
              <%= check_box_tag 'form_barat[sumber_listrik][]', 'Genset', checked2('Genset'), id: 'sumber_listrik_Genset' %>
              <div class="form-group">
                <%= f.label :lainnya_listrik, "Sumber Listrik Lainnya" %><br />
                <%= f.text_field :lainnya_listrik, class: "form-control", placeholder: "ex: Batu Bara" %>
              </div> 
             
              <div class="form-group">
                <%= f.label :jam_operasional %><br>
                <%= f.text_field :jam_operasional, class: "form-control", placeholder: "24 JAM" %>

              <div class="form-group">
                <%= f.label :id_pelanggan_listrik %><br>
                <%= f.text_field :id_pelanggan_listrik, class: "form-control", placeholder: "ex: 232111074358" %>
              </div>
              <div class="form-group">
                <%= f.label :kapasitas, "Kapasitas (Watt)" %><br>
                <%= f.text_field :kapasitas, class: "form-control", placeholder: "ex: 900" %>
              </div>
            </div>
          </div>
          
          <hr >
          <center><h2>Ketersediaan Akses Internet Eksisting</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi %><br>
            <label class="radio-inline">
              <input type="radio" name="internet" value="ada" class="detailinternet">Jika Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="internet" value="tidak" class="detailinternet">Jika Tidak
            </label>
            <br /><br />

            <div id="form-internet">
              <label class="radio-inline">
                <b><input type="radio" name="form_barat[jenis_koneksi]" id="form_barat_jenis_koneksi" value="vsat">VSAT</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="form_barat[jenis_koneksi]" id="form_barat_jenis_koneksi" value="radiolink">RadioLink</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="form_barat[jenis_koneksi]" id="form_barat_jenis_koneksi" value="fiberoptik">FiberOptik</b>
              </label>
              <br /><br />

              <div class="form-group">
                <%= f.label :lainnya_internet, "Koneksi Internet Lainnya" %><br>
                <%= f.text_field :lainnya_internet, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_akses_internet %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kualitas_akses_internet]" id="form_barat_kualitas_akses_internet">
                  <option disabled selected>Select One</option>
                  <option>Sangat Lambat</option>
                  <option>Lambat</option>
                  <option>Cepat</option>
                  <option>Sangat Cepat</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label :bandwidt_tersedia, "Bandwidt Tersedia (MBPS)" %><br>
                <%= f.text_field :bandwidt_tersedia, class: "form-control", type: 'number', placeholder: "10" %>
              </div>

            </div>
          </div>
          

           <hr >
          <center><h2>Ketersediaan Akses Jaringan Selular (GSM)</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi_1, "Jenis Koneksi" %><br>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="ada" class="detailjaringan">Jika Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="tidak" class="detailjaringan">Jika Tidak
            </label>
            <br /><br />

            <div id="form-jaringan">
              <label class="radio-inline">
                <b><input type="radio" name="form_barat[jenis_koneksi_1]" id="form_barat_jenis_koneksi_1" value="4g">4G</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="form_barat[jenis_koneksi_1]" id="form_barat_jenis_koneksi_1" value="3g">3G</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="form_barat[jenis_koneksi_1]" id="form_barat_jenis_koneksi_1" value="2g">2G</b>
              </label>
              <br /><br />

              <div class="form-group">
                <%= f.label :nama_operator_seluler %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[nama_operator_seluler]" id="form_barat_nama_operator_seluler">
                  <option disabled selected>Select One</option>
                  <option>Telkomsel</option>
                  <option>XL</option>
                  <option>Indosat</option>
                  <option>Axis</option>
                  <option>Smartfren</option>
                  <option>Bolt</option>
                  <option>3 Tri</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_layanan %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kualitas_layanan]" id="form_barat_kualitas_layanan">
                  <option disabled selected>Select One</option>
                  <option>Sangat Lambat</option>
                  <option>Lambat</option>
                  <option>Cepat</option>
                  <option>Sangat Cepat</option>
                </select>
              </div>
            </div>

          </div>

           <hr >
          <center><h2>Ketersediaan Perangkat</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jumlah_komputer, "Jumlah Komputer/PC" %><br>
            <%= f.text_field :jumlah_komputer, class: "form-control", type:"number" %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :perangkat_pendukung_lainnya, "Perangkat Pendukung" %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[perangkat_pendukung_lainnya]" id="form_barat_perangkat_pendukung_lainnya">
                  <option disabled selected>Select One</option>
                  <option>UPS</option>
                  <option>Modem</option>
                  <option>Stabilizer</option>
                  <option>Webcam</option>
                </select>
              </div>

              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :perangkat_lainnya, "Lainnya" %><br>
                <%= f.text_field :perangkat_lainnya, class: "form-control" %>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Penanggung Jawab Lokasi</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_1 %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_1 %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_1, class: "form-control", type: 'number' %>
          </div>
          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_2 %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_2 %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_2, class: "form-control", type: 'number' %>
          </div>

          <hr >
          <center><h2>Transportasi Menuju Lokasi</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= label_tag :transportasi_menuju_lokasi, 'Transportasi Menuju Lokasi' %> <br />

                <%= label_tag 'transportasi_menuju_lokasi_Darat', 'Darat' %>
                <%= check_box_tag 'form_barat[transportasi_menuju_lokasi][]', 'Darat', checked3('Darat'), id: 'transportasi_menuju_lokasi_Darat' %> &nbsp;&nbsp;

                <%= label_tag 'transportasi_menuju_lokasi_Laut', 'Laut' %>
                <%= check_box_tag 'form_barat[transportasi_menuju_lokasi][]', 'Laut', checked3('Laut'), id: 'transportasi_menuju_lokasi_Laut' %>&nbsp;&nbsp;

                <%= label_tag 'transportasi_menuju_lokasi_Udara', 'Udara' %>
                <%= check_box_tag 'form_barat[transportasi_menuju_lokasi][]', 'Udara', checked3('Udara'), id: 'transportasi_menuju_lokasi_udara' %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :keterangan_menuju_lokasi %><br>
                  <%= f.text_area :keterangan_menuju_lokasi, class: "form-control",rows: 4 %>
                </div>
              </div>
            </div>
          </div>  
          </div>
          <div class="form-group">
            <%= f.label :gambaran_menuju_lokasi %><br>
            <%= f.text_area :gambaran_menuju_lokasi, class: "form-control", rows: 5 %>
          </div>
                <a class="btn btn-primary btnNext" >Selanjutnya</a>
          </div>

          <div class="tab-pane" id="tab2">
          <center><h2>Dokumentasi</h2></center>
          <hr>

            <div class="form-group">
              <%= f.label :"photo_sketsa", "Photo: Sketsa/Layout" %>
              <%= f.file_field :photo_sketsa, class: "form-control", :required => true %>
              <div id="target1"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_gedung", "Photo: Site/Gedung" %>
              <%= f.file_field :image_gedung, class: "form-control", :required => true %>
              <div id="target1"></div>
            </div>

             <div class="form-group">
              <%= f.label :"image_rencana_tempat_perangkat", "Photo: Rencana Tempat Perangkat" %>
              <%= f.file_field :image_rencana_tempat_perangkat, class: "form-control", :required => true %>
              <div id="target1"></div>
            </div>

             <div class="form-group">
              <%= f.label :"image_genset", "Photo: KWh Mwte/Genset/Solar Cell" %>
              <%= f.file_field :image_genset, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <hr >
            <center><h2>Foto Panoramic</h2></center>
            <hr>

            <div class="form-group">
              <%= f.label :"image_lingkungan_depan", "Photo Lingkungan Depan" %>
              <%= f.file_field :image_lingkungan_depan, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_lingkungan_belakang", "Photo Lingkungan Belakang" %>
              <%= f.file_field :image_lingkungan_belakang, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_lingkungan_kiri", "Photo Lingkungan Sebelah Kiri" %>
              <%= f.file_field :image_lingkungan_kiri, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_lingkungan_kanan", "Photo Lingkungan Sebelah Kanan" %>
              <%= f.file_field :image_lingkungan_kanan, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_akses_ke_site", "Photo Akses ke Site" %>
              <%= f.file_field :image_akses_ke_site, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_akses_ke_site_1", "Photo Akses ke Site" %>
              <%= f.file_field :image_akses_ke_site_1, class: "form-control", :required => true%>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_geotagging", "Perangkat Geotagging" %>
              <%= f.file_field :image_geotagging, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_surveyor", "Photo Surveyor di Lokasi" %>
              <%= f.file_field :image_surveyor, class: "form-control", :required => true %>
              <div id="target"></div>
            </div>

            <hr >
            <center><h2>Photo Tambahan</h2></center>
            <hr>

            <div class="form-group">
              <%= f.label :"tambahan_image_1", "Tambahan Photo 1" %>
              <%= f.file_field :tambahan_image_1, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"tambahan_image_2", "Tambahan Photo 2" %>
              <%= f.file_field :tambahan_image_2, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"tambahan_image_3", "Tambahan Photo 2" %>
              <%= f.file_field :tambahan_image_3, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :catatan_tambahan %>
              <%= f.text_area :catatan_tambahan, class: "form-control", rows: 5 %>
            </div>
            
            <center>
              <div class="row">
                <div class="col-xs-6 center">
                  <a class="btn btn-danger btnPrevious" >Kembali</a>
                </div>
                <div class="col-xs-6">
                  <div class="actions">
                    <%= f.submit "Submit", class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            </center>   
    </div>           
<% end %>
    
  </div>
</div>
</div>
</div>

<script type="text/javascript">
$('select').select2({width: "100%"});
</script>

<script type="text/javascript">
   $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN LISTRIK -->
<script>
$(document).ready(function(){
$("#form-input").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detail").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='optradio']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-input").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-input").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN AKSES INTERNET -->
<script>
$(document).ready(function(){
$("#form-internet").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailinternet").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='internet']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-internet").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-internet").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN JARINGAN SELULAR -->
<script>
$(document).ready(function(){
$("#form-jaringan").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailjaringan").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='jaringan']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-jaringan").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-jaringan").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>