  <style>
    body {
      background-color: #ccffff;
    }
    @media print {
    .no_print { 
        display: none; 
    }
}
  </style>

<p id="notice"><%= notice %></p>

<center><h1>Data Survey Wilayah Barat</h1></center>
<br />
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag form_barats_path, class: "no_print", :method => 'get' do %>
      <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="search" id="search">
              <option disabled selected>Select Provinsi</option>
              <option>Aceh Besar</option>
              <option>Aceh Singkil</option>
              <option>Nias</option>
              <option>Nias Selatan</option>
              <option>Kepulauan Meranti</option>
              <option>Natuna</option>
              <option>Bintan</option>
              <option>Pasaman Barat</option>
              <option>Solok Selatan</option>
              <option>Bengkulu Utara</option>
              <option>Seluma</option>
              <option>Musi Rawas</option>
              <option>Musi Rawas Utara</option>
              <option>Pesisir Barat</option>
              <option>Lebak</option>
              <option>Pandeglang</option>
              <option>Bondowoso</option>
      </select>
      <br /><br />
      <center><%= submit_tag "Search", class: "btn btn-success"%></center>
    <% end %>
  </div>
  <br /><br />
 
<div class="container-fluid">
<div class="col-md-12">
  <p class="no_print">
    Download Data:<br />
    <button class="btn btn-sm btn-danger" onclick="myFunction()">Print PDF</button>
    
  </p>
  <div class="table-responsive">
    <table class="table">
        <% @form_barats.each do |form_barat| %>
          <tr>
            <th >Side ID</th>
            <td><%= form_barat.side_id %></td>
          </tr>
          <tr>
            <th>Nama Side</th>
            <td><%= form_barat.nama_site_id %></td>
          </tr>
          <tr>
            <th >Alamat</th>
            <td><%= form_barat.alamat %></td>
          </tr>
          <tr>
            <th>Provinsi</th>
            <td><%= form_barat.provinsi %></td>
          </tr>
          <tr>
            <th>Kabupaten</th>
            <td><%= form_barat.kabupaten %></td>
          </tr>
          
          <tr>
            <th>Surveyor</th>
            <td><%= form_barat.surveyor %></td>
          </tr>
          <tr>
            <th>Project</th>
            <td><%= form_barat.project %></td>
          </tr>
          <tr>
            <th>Lattide</th>
            <td><%= form_barat.lattide %></td>
          </tr>
          <tr>
            <th>Longitude</th>
            <td><%= form_barat.longitude %></td>
          </tr>
          <tr>
            <th>Sumber listrik</th>
            <td><%= form_barat.sumber_listrik %></td>
          </tr>
          <tr>
            <th>Jam operasional</th>
            <td><%= form_barat.jam_operasional %></td>
          </tr>
          <tr>
            <th>Id pelanggan listrik</th>
            <td><%= form_barat.id_pelanggan_listrik %></td>
          </tr>
          <tr>
            <th>Kapasitas</th>
            <td><%= form_barat.kapasitas %></td>
          </tr>
          <tr>
            <th>Jenis Koneksi Internet Eksisting</th>
            <td><%= form_barat.jenis_koneksi %></td>
          </tr>
          <tr>
            <th>Koneksi Internet Lainnya</th>
            <td><%= form_barat.lainnya_internet %></td>
          </tr>
          <tr>
            <th>Kualitas akses internet</th>
            <td><%= form_barat.kualitas_akses_internet %></td>
          </tr>
          <tr>
            <th>Bandwidt tersedia</th>
            <td><%= form_barat.bandwidt_tersedia %></td>
          </tr>
          <tr>
            <th>Jenis Koneksi Seluler</th>
            <td><%= form_barat.jenis_koneksi_1 %></td>
          </tr>
          <tr>
            <th>Nama operator seluler</th>
            <td><%= form_barat.nama_operator_seluler %></td>
          </tr>
          <tr>
            <th>Kualitas layanan</th>
            <td><%= form_barat.kualitas_layanan %></td>
          </tr>
          <tr>
            <th>Jumlah komputer</th>
            <td><%= form_barat.jumlah_komputer %></td>
          </tr>
          <tr>
            <th>Perangkat pendukung</th>
            <td><%= form_barat.perangkat_pendukung_lainnya %></td>
          </tr>
          <tr>
            <th>Lainnya</th>
            <td><%= form_barat.perangkat_lainnya %></td>
          </tr>
          <tr>
            <th>Nama penanggung jawab lokasi 1</th>
            <td><%= form_barat.nama_penanggung_jawab_lokasi_1 %></td>
          </tr>
          <tr>
            <th>Kontak penanggung jawab lokasi 1</th>
            <td><%= form_barat.kontak_penanggung_jawab_lokasi_1 %></td>
          </tr>
          <tr>
            <th>Nama penanggung jawab lokasi 2</th>
            <td><%= form_barat.nama_penanggung_jawab_lokasi_2 %></td>
          </tr>
          <tr>
            <th>Kontak penanggung jawab lokasi 2</th>
            <td><%= form_barat.kontak_penanggung_jawab_lokasi_2 %></td>
          </tr>
          <tr>
            <th>Transportasi menuju lokasi</th>
            <td><%= form_barat.transportasi_menuju_lokasi %></td>
          </tr>
          <tr>
            <th>Gambaran menuju lokasi</th>
            <td><%= form_barat.gambaran_menuju_lokasi %></td>
          </tr>
          <tr>
            <th>Catatan Tambahan</th>
            <td><%= form_barat.catatan_tambahan %></td>
          </tr>
          <tr class="no_print">
            <th>Action</th>
            <td><%= link_to 'Show', form_barat %> | <%= link_to 'Edit', edit_form_barat_path(form_barat) %> | <%= link_to 'Destroy', form_barat, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          </tr>
          <tr class="no_print">
            <th>Photo</th>
            <td><%= link_to 'Data Photo', form_barat, class: "btn btn-sm btn-success" %></td>
          </tr> 
          <tr>
            <th colspan="2"></th>
          </tr>     
        <% end %>
    </table>
  </div>
</div>
</div>

<script>
function myFunction() {
    window.print();
}
</script>

<script type="text/javascript">
$('select').select2({width: "100%"});
</script>