 <div class="container-fluid">
  <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Tengah Provinsi Kalimantan Barat</strong></h5>
              </div>
              <div class="panel-body">
                <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-1">
                <%= pie_chart SurveyForm.where(provinsi:"Kalimantan Barat").group(:kabupaten).count, discrete: true, donut:true, height: "400px", messages: {empty: "No data"} %>
                </div>
              </div>
            </div>
        </div>
  </div>     

 <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <center><h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Tengah Provinsi Kalimantan Barat Per Kecamatan</strong></h5></center>
              </div>
              <div class="panel-body">
                <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <%= pie_chart SurveyForm.where(provinsi:"Kalimantan Barat").group(:kecamatan).count, discrete: true, donut:true, messages: {empty: "No data"} %>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <center><h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Barat Provinsi Kalimantan Barat Per Kelurahan</strong></h5></center>  
            </div>
            <div class="panel-body">
              <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <%= pie_chart SurveyForm.where(provinsi:"Kalimantan Barat").group(:kelurahan).count, discrete: true, donut:true, messages: {empty: "No data"} %>
              </div>
            </div>
          </div>  
        </div>
  </div>

  <div class="container">
    <div class="table-responsive">
    <div class="col-md-12">          
      <table class="table table-bordered table-striped table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th style="text-align: center;">Side ID</th>
            <th style="text-align: center;">Nama Side</th>
            <th style="text-align: center;">Provinsi</th>
            <th style="text-align: center;">Kota / Kabupaten</th>
            <th style="text-align: center;">Kecamatan</th>
            <th style="text-align: center;">Kelurahan</th>
            <th style="text-align: center;">Lattide</th>
            <th style="text-align: center;">Longitude</th>
            <th style="text-align: center;">Tanggal Input</th>
          </tr>
        </thead>

        <tbody>
          <% @survey_forms.each do |survey_form| %>
            <tr>
              <td><%= survey_form.side_id %></td>
              <td data-title="Nama Side"><%= survey_form.nama_site_id %></td>
              <td data-title="Provinsi"><%= survey_form.provinsi %></td>
              <td data-title="Kota/Kabupaten"><%= survey_form.kabupaten %></td>
              <td data-title="Kecamatan"><%= survey_form.kecamatan %></td>
              <td data-title="Kelurahan"><%= survey_form.kelurahan %></td>
              <td data-title="Kelurahan"><%= survey_form.lattide %></td>
              <td data-title="Kelurahan"><%= survey_form.longitude %></td>
              <td data-title="Tanggal Input"><%= survey_form.created_at.strftime('%d-%m-%Y') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
</div>    
  </div>   