    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

<%= form_for(@survey_form) do |f| %>
  <% if @survey_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_form.errors.count, "error") %> prohibited this survey_form from being saved:</h2>

      <ul>
      <% @survey_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style>
    .jumbotron {
        border: 1px solid black;

        background-color: white;
    }

    
  </style>

<div class="container">
<br /><br />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Form</a></li>
      <li><a href="#tab2" data-toggle="tab">Dokumentasi</a></li>
    </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <center><h1 class="display-4">Form Survey</h1></center>
          <hr >
          <div class="form-group">
            <%= f.label :side_id, "Site ID" %><br>
            <%= f.text_field :side_id, class: "form-control", placeholder: "" %>
          </div>
          <div class="form-group">
            <%= f.label :alamat %><br>
            <%= f.text_field :alamat, class: "form-control", placeholder: "Alamat" %>
          </div>
          <div class="form-group">

            <%= f.label :kelurahan %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[kelurahan]" id="survey_form_kelurahan">
              <option></option>
              <option>Desa Paking</option>
              <option>Desa Mentarang Baru</option>
              <option>Desa Buntulia Tengah</option>
              <option>Desa Buntulia Utara</option>
              <option>Desa Hulawa</option>
              <option>Jl. Setulang</option>
            </select>
          </div>

          <div class="form-group">
            <%= f.label :kecamatan %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[kecamatan]" id="survey_form_kecamatan">
              <option></option>
              <option>Mentarang</option>
              <option>Malinau Selatan Hili</option>
              <option>Malinau Selatan</option>
              <option>Haharu</option>
              <option>Lewa Tidas</option>
              <option>Kahaungu Eti</option>
              <option>Pandawai</option>
              <option>Ngadu Ngala</option>
            </select>
          </div>
          <div class="form-group">
            <%= f.label :kabupaten %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[kabupaten]" id="survey_form_kabupaten">
              <option></option>
              <option>Malinau</option>
              <option>Sumba Timur</option>
              <option>Alor</option>
              <option>Banggai Kepulauan</option>
              <option>Gorontalo Utara</option>
              <option>Kahaungu Eti</option>
              <option>Manggarai Barat</option>
              <option>Pohuwato</option>
              <option>Sumbawa</option>
              <option>Sumbawa Barat</option>
            </select>
          </div>
          <div class="form-group">
            <%= f.label :provinsi %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="survey_form[provinsi]" id="survey_form_provinsi">
              <option></option>
              <option>Nusa Tenggara Timur</option>
              <option>Nusa Tenggara Barat</option>
              <option>Kalimantan Selatan</option>
              <option>Kalimantan Timur</option>
              <option>Kalimantan Barat</option>
              <option>Sulawesi Tenggara</option>
              <option>Sulawesi Tengah</option>
              <option>Kalimantan Utara</option>
              <option>Gorontalo</option>
            </select>

          </div>

          <hr >
          <center><h2>Koordinat</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :lattide %><br>
                <%= f.text_field :lattide, class: "form-control", placeholder: "-6.238270" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :longitude %><br>
                  <%= f.text_field :longitude, class: "form-control", placeholder: "106.975573" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Ketersediaan Listrik</h2></center>
          <hr>
          
          <div class="form-group">
            <%= f.label :sumber_listrik %><br />
            <label class="radio-inline">
              <input type="radio" name="optradio" value="ada" class="detail">Jika Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" value="tidak" class="detail">Jika Tidak 
            </label>
            <br /><br />
            <div id="form-input">
              <%= label_tag 'sumber_listrik_PLN', 'PLN' %>
              <%= check_box_tag 'survey_form[sumber_listrik][]', 'PLN', checked('PLN'), id: 'sumber_listrik_PLN' %> &nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_SolarSel', 'SolarSel' %>
              <%= check_box_tag 'survey_form[sumber_listrik][]', 'SolarSel', checked('SolarSel'), id: 'sumber_listrik_SolarSel' %>&nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_Genset', 'Genset' %>
              <%= check_box_tag 'survey_form[sumber_listrik][]', 'Genset', checked('Genset'), id: 'sumber_listrik_Genset' %>
              <div class="form-group">
                <%= f.label :lainnya_listrik, "Sumber Listrik Lainnya" %><br />
                <%= f.text_field :lainnya_listrik, class: "form-control", placeholder: "ex: Batu Bara" %>
              </div> 
             
              <div class="form-group">
                <%= f.label :jam_operasional %><br>
                <%= f.time_field :jam_operasional, class: "form-control", placeholder: "02:20 PM" %>

              <div class="form-group">
                <%= f.label :id_pelanggan_listrik %><br>
                <%= f.text_field :id_pelanggan_listrik, class: "form-control", placeholder: "ex: 232111074358" %>
              </div>
              <div class="form-group">
                <%= f.label :kapasitas, "Kapasitas (Watt)" %><br>
                <%= f.text_field :kapasitas, class: "form-control", placeholder: "ex: 900" %>
              </div>
            </div>
            
          </div>
          
          <hr >
          <center><h2>Ketersediaan Akses Internet Eksisting</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi %><br>
            <label class="radio-inline">
              <input type="radio" name="internet" value="ada" class="detailinternet">Jika Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="internet" value="tidak" class="detailinternet">Jika Tidak
            </label>
            <br /><br />

            <div id="form-internet">
              <label class="radio-inline">
                <b><input type="radio" name="survey_form[jenis_koneksi]" id="survey_form_jenis_koneksi" value="vsat">VSAT</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="survey_form[jenis_koneksi]" id="survey_form_jenis_koneksi" value="radiolink">RadioLink</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="survey_form[jenis_koneksi]" id="survey_form_jenis_koneksi" value="fiberoptik">FiberOptik</b>
              </label>
              <br /><br />

              <div class="form-group">
                <%= f.label :lainnya_internet, "Koneksi Internet Lainnya" %><br>
                <%= f.text_field :lainnya_internet, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_akses_internet %><br>
                <%= f.text_field :kualitas_akses_internet, class: "form-control", placeholder: "Baik" %>
              </div>
              <div class="form-group">
                <%= f.label :bandwidt_tersedia %><br>
                <%= f.text_field :bandwidt_tersedia, class: "form-control" %>
              </div>

            </div>
          </div>
          

           <hr >
          <center><h2>Ketersediaan Akses Jaringan Selular (GSM)</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi_1, "Jenis Koneksi" %><br>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="ada" class="detailjaringan">Jika Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="tidak" class="detailjaringan">Jika Tidak
            </label>
            <br /><br />

            <div id="form-jaringan">
              <label class="radio-inline">
                <b><input type="radio" name="survey_form[jenis_koneksi_1]" id="survey_form_jenis_koneksi_1" value="4g">4G</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="survey_form[jenis_koneksi_1]" id="survey_form_jenis_koneksi_1" value="3g">3G</b>
              </label>
              <label class="radio-inline">
                <b><input type="radio" name="survey_form[jenis_koneksi_1]" id="survey_form_jenis_koneksi_1" value="2g">2G</b>
              </label>
              <br /><br />

              <div class="form-group">
                <%= f.label :nama_operator_seluler %><br>
                <%= f.text_field :nama_operator_seluler, class: "form-control", placeholder: "ex: Telkomsel" %>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_layanan %><br>
                <%= f.text_field :kualitas_layanan, class: "form-control", placeholder: "Baik" %>
              </div>
            </div>

          </div>

          

           <hr >
          <center><h2>Ketersediaan Perangkat<h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jumlah_komputer, "Jumlah Komputer/PC" %><br>
            <%= f.text_field :jumlah_komputer, class: "form-control", type:"number" %>
          </div>
          <div class="form-group">
            <%= f.label :perangkat_pendukung_lainnya %><br>
            <%= f.text_field :perangkat_pendukung_lainnya, class: "form-control" %>
          </div>

          <hr >
          <center><h2>Penanggung Jawab Lokasi<h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_1 %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_1 %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_2 %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_2 %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_2, class: "form-control" %>
          </div>

          <hr >
          <center><h2>Transportasi Menuju Lokasi<h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :transportasi_menuju_lokasi %><br/>
                <%= radio_button_tag(:transportasi_menuju_lokasi, "transportasi_menuju_lokasi") %>
                <%= label_tag(:transportasi_menuju_lokasi, "Darat") %><br />
                <%= radio_button_tag(:transportasi_menuju_lokasi, "transportasi_menuju_lokasi") %>
                <%= label_tag(:transportasi_menuju_lokasi, "Laut") %><br />
                <%= radio_button_tag(:transportasi_menuju_lokasi, "transportasi_menuju_lokasi") %>
                <%= label_tag(:transportasi_menuju_lokasi, "Udara") %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :keterangan_menuju_lokasi %><br>
                  <%= f.text_area :keterangan_menuju_lokasi, class: "form-control",rows: 4 %>
                </div>
              </div>
            </div>
          </div>  
          </div>
          <div class="form-group">
            <%= f.label :gambaran_menuju_lokasi %><br>
            <%= f.text_area :gambaran_menuju_lokasi, class: "form-control", rows: 5 %>
          </div>
                <a class="btn btn-primary btnNext" >Selanjutnya</a>
          </div>

          <div class="tab-pane" id="tab2">
          <center><h2>Dokumentasi<h2></center>
          <hr>

            <div class="form-group">
              <%= f.label :"image_gedung", "Photo: Site/Gedung" %>
              <%= f.file_field :image_gedung, class: "form-control" %>
              <div id="target1"></div>
            </div>

             <div class="form-group">
              <%= f.label :"image_rencana_tempat_perangkat", "Photo: Rencana Tempat Perangkat" %>
              <%= f.file_field :image_rencana_tempat_perangkat, class: "form-control" %>
              <div id="target1"></div>
            </div>

             <div class="form-group">
              <%= f.label :"image_genset", "Photo: KWh Mwte/Genset/Solar Cell" %>
              <%= f.file_field :image_genset, class: "form-control" %>
              <div id="target"></div>
            </div>

            <hr >
            <center><h2>Foto Panoramic<h2></center>
            <hr>

            <div class="form-group">
              <%= f.label :"image_lingkungan_depan", "Photo Lingkungan Depan" %>
              <%= f.file_field :image_lingkungan_depan, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_lingkungan_belakang", "Photo Lingkungan Belakang" %>
              <%= f.file_field :image_lingkungan_belakang, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_lingkungan_kiri", "Photo Lingkungan Sebelah Kiri" %>
              <%= f.file_field :image_lingkungan_kiri, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_lingkungan_kanan", "Photo Lingkungan Sebelah Kanan" %>
              <%= f.file_field :image_lingkungan_kanan, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_akses_ke_site", "Photo Akses ke Site" %>
              <%= f.file_field :image_akses_ke_site, class: "form-control" %>
              <div id="target"></div>
            </div>

            <div class="form-group">
              <%= f.label :"image_akses_ke_site_1", "Photo Akses ke Site" %>
              <%= f.file_field :image_akses_ke_site_1, class: "form-control"%>
              <div id="target"></div>
            </div>
            <center>
              <div class="row">
                <div class="col-xs-6 center">
                  <a class="btn btn-danger btnPrevious" >Kembali</a>
                </div>
                <div class="col-xs-6">
                  <div class="actions">
                    <%= f.submit "Submit", class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            </center>              
            
<% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$('select').select2({width: "100%"});
</script>

<script type="text/javascript">
   $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN LISTRIK -->
<script>
$(document).ready(function(){
$("#form-input").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detail").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='optradio']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-input").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-input").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN AKSES INTERNET -->
<script>
$(document).ready(function(){
$("#form-internet").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailinternet").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='internet']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-internet").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-internet").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN JARINGAN SELULAR -->
<script>
$(document).ready(function(){
$("#form-jaringan").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailjaringan").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='jaringan']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-jaringan").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-jaringan").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>