  <style>
    body {
      background-color: #ccffff;
    }
    @media print {
    .no_print { 
        display: none; 
    }
}
  </style>

<p id="notice"><%= notice %></p>

<center><h1>Data Survey Wilayah Tengah</h1></center>
<br />
  <div class="col-md-6 col-md-offset-3">
    <%= form_tag survey_forms_path, class: "no_print", :method => 'get' do %>
      <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="search" id="search">
              <option disabled selected>Pilih Kabupaten</option>
              <option>Malinau</option>
              <option>Sumba Timur</option>
              <option>Alor</option>
              <option>Banggai Kepulauan</option>
              <option>Gorontalo Utara</option>
              <option>Manggarai Barat</option>
              <option>Pohuwato</option>
              <option>Sumbawa</option>
              <option>Sumbawa Barat</option>
              <option>Sumba Tengah</option>
              <option>Timor Tengah Utara</option>
              <option>Belu</option>
              <option>Sambas</option>
              <option>Bengkayang</option>
              <option>Morowali Utara</option>
              <option>Sabu Raijua</option>
              <option>Konawe Kepulauaan</option>
              <option>Nagekeo</option>
              <option>Sigi</option>
              <option>Ende</option>
              <option>Tojo Una-una</option>
              <option>Lembata</option>
              <option>Banggai Laut</option>
              <option>Malaka</option>
              <option>Donggala</option>
              <option>Tolitoli</option>
              <option>Rote Ndao</option>
              <option>Konawe</option>
              <option>Ketapang</option>
              <option>Sanggau</option>
              <option>Kayong Utara</option>
              <option>Melawi</option>
              <option>Kapuas Hulu</option>
              <option>Landak</option>
              <option>Mahakam Ulu</option>
              <option>Hulu Sungai Utara</option>
              <option>Bima</option>
      </select>
      <br /><br />
      <center><%= submit_tag "Search", class: "btn btn-success"%></center>
    <% end %>
  </div>
  <br /><br />
 
<div class="container-fluid">
<div class="col-md-12">
  <p class="no_print">
    Download Data:<br />
    <button class="btn btn-sm btn-danger" onclick="myFunction()">Print PDF</button>
  </p>
  <div class="table-responsive">
    <table class="table">
        <% @survey_forms.each do |survey_form| %>
          <tr>
            <th >Side ID</th>
            <td><%= survey_form.side_id %></td>
          </tr>
          <tr>
            <th>Nama Side</th>
            <td><%= survey_form.nama_site_id %></td>
          </tr>
          <tr>
            <th >Alamat</th>
            <td><%= survey_form.alamat %></td>
          </tr>
          <tr>
            <th >Kelurahan</th>
            <td><%= survey_form.kelurahan %></td>
          </tr>
          <tr>
            <th>Kecamatan</th>
            <td><%= survey_form.kecamatan %></td>
          </tr>
          <tr>
            <th>Kabupaten</th>
            <td><%= survey_form.kabupaten %></td>
          </tr>
          <tr>
            <th>Provinsi</th>
            <td><%= survey_form.provinsi %></td>
          </tr>
          <tr>
            <th>Surveyor</th>
            <td><%= survey_form.surveyor %></td>
          </tr>
          <tr>
            <th>Project</th>
            <td><%= survey_form.project %></td>
          </tr>
          <tr>
            <th>Lattide</th>
            <td><%= survey_form.lattide %></td>
          </tr>
          <tr>
            <th>Longitude</th>
            <td><%= survey_form.longitude %></td>
          </tr>
          <tr>
            <th>Sumber listrik</th>
            <td><%= survey_form.sumber_listrik %></td>
          </tr>
          <tr>
            <th>Jam operasional</th>
            <td><%= survey_form.jam_operasional %></td>
          </tr>
          <tr>
            <th>Id pelanggan listrik</th>
            <td><%= survey_form.id_pelanggan_listrik %></td>
          </tr>
          <tr>
            <th>Kapasitas</th>
            <td><%= survey_form.kapasitas %></td>
          </tr>
          <tr>
            <th>Jenis Koneksi Internet Eksisting</th>
            <td><%= survey_form.jenis_koneksi %></td>
          </tr>
          <tr>
            <th>Koneksi Internet Lainnya</th>
            <td><%= survey_form.lainnya_internet %></td>
          </tr>
          <tr>
            <th>Kualitas akses internet</th>
            <td><%= survey_form.kualitas_akses_internet %></td>
          </tr>
          <tr>
            <th>Bandwidt tersedia</th>
            <td><%= survey_form.bandwidt_tersedia %></td>
          </tr>
          <tr>
            <th>Jenis Koneksi Seluler</th>
            <td><%= survey_form.jenis_koneksi_1 %></td>
          </tr>
          <tr>
            <th>Nama operator seluler</th>
            <td><%= survey_form.nama_operator_seluler %></td>
          </tr>
          <tr>
            <th>Kualitas layanan</th>
            <td><%= survey_form.kualitas_layanan %></td>
          </tr>
          <tr>
            <th>Jumlah komputer</th>
            <td><%= survey_form.jumlah_komputer %></td>
          </tr>
          <tr>
            <th>Perangkat pendukung</th>
            <td><%= survey_form.perangkat_pendukung_lainnya %></td>
          </tr>
          <tr>
            <th>Lainnya</th>
            <td><%= survey_form.perangkat_lainnya %></td>
          </tr>
          <tr>
            <th>Nama penanggung jawab lokasi 1</th>
            <td><%= survey_form.nama_penanggung_jawab_lokasi_1 %></td>
          </tr>
          <tr>
            <th>Kontak penanggung jawab lokasi 1</th>
            <td><%= survey_form.kontak_penanggung_jawab_lokasi_1 %></td>
          </tr>
          <tr>
            <th>Nama penanggung jawab lokasi 2</th>
            <td><%= survey_form.nama_penanggung_jawab_lokasi_2 %></td>
          </tr>
          <tr>
            <th>Kontak penanggung jawab lokasi 2</th>
            <td><%= survey_form.kontak_penanggung_jawab_lokasi_2 %></td>
          </tr>
          <tr>
            <th>Transportasi menuju lokasi</th>
            <td><%= survey_form.transportasi_menuju_lokasi %></td>
          </tr>
          <tr>
            <th>Gambaran menuju lokasi</th>
            <td><%= survey_form.gambaran_menuju_lokasi %></td>
          </tr>
          <tr>
            <th>Catatan Tambahan</th>
            <td><%= survey_form.catatan_tambahan %></td>
          </tr>
          <tr class="no_print">
            <th>Action</th>
            <td><%= link_to 'Show', survey_form %> | <%= link_to 'Edit', edit_survey_form_path(survey_form) %> | <%= link_to 'Destroy', survey_form, method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          </tr>
          <tr class="no_print">
            <th>Photo</th>
            <td><%= link_to 'Data Photo', survey_form, class: "btn btn-sm btn-success" %></td>
          </tr> 
          <tr>
            <th colspan="2"></th>
          </tr>     
        <% end %>
    </table>
  </div>
</div>
</div>

<script>
function myFunction() {
    window.print();
}
</script>

<script type="text/javascript">
$('select').select2({width: "100%"});
</script>