<p id="notice"><%= notice %></p>

<p>
  <strong>Side:</strong>
  <%= @survey_form.side_id %>
</p>

<p>
  <strong>Nama_Side:</strong>
  <%= @survey_form.nama_site_id %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @survey_form.alamat %>
</p>

<p>
  <strong>Kelurahan:</strong>
  <%= @survey_form.kelurahan %>
</p>

<p>
  <strong>Kecamatan:</strong>
  <%= @survey_form.kecamatan %>
</p>

<p>
  <strong>Kabupaten:</strong>
  <%= @survey_form.kabupaten %>
</p>

<p>
  <strong>Provinsi:</strong>
  <%= @survey_form.provinsi %>
</p>

<p>
  <strong>surveyor:</strong>
  <%= @survey_form.surveyor %>
</p>

<p>
  <strong>project:</strong>
  <%= @survey_form.project %>
</p>

<p>
  <strong>Lattide:</strong>
  <%= @survey_form.lattide %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @survey_form.longitude %>
</p>

<p>
  <strong>Sumber listrik:</strong>
  <%= @survey_form.sumber_listrik %>
</p>

<p>
  <strong>Jam operasional:</strong>
  <%= @survey_form.jam_operasional %>
</p>

<p>
  <strong>Id pelanggan listrik:</strong>
  <%= @survey_form.id_pelanggan_listrik %>
</p>

<p>
  <strong>Kapasitas:</strong>
  <%= @survey_form.kapasitas %>
</p>

<p>
  <strong>Jenis koneksi:</strong>
  <%= @survey_form.jenis_koneksi %>
</p>

<p>
  <strong>Bandwidt tersedia:</strong>
  <%= @survey_form.bandwidt_tersedia %>
</p>

<p>
  <strong>Jenis koneksi 1:</strong>
  <%= @survey_form.jenis_koneksi_1 %>
</p>

<p>
  <strong>Nama operator seluler:</strong>
  <%= @survey_form.nama_operator_seluler %>
</p>

<p>
  <strong>Kualitas layanan:</strong>
  <%= @survey_form.kualitas_layanan %>
</p>

<p>
  <strong>Jumlah komputer:</strong>
  <%= @survey_form.jumlah_komputer %>
</p>

<p>
  <strong>Perangkat pendukung lainnya:</strong>
  <%= @survey_form.perangkat_pendukung_lainnya %>
</p>

<p>
  <strong>perangkat_lainnya:</strong>
  <%= @survey_form.perangkat_lainnya %>
</p>

<p>
  <strong>Nama penanggung jawab lokasi 1:</strong>
  <%= @survey_form.nama_penanggung_jawab_lokasi_1 %>
</p>

<p>
  <strong>Kontak penanggung jawab lokasi 1:</strong>
  <%= @survey_form.kontak_penanggung_jawab_lokasi_1 %>
</p>

<p>
  <strong>Nama penanggung jawab lokasi 2:</strong>
  <%= @survey_form.nama_penanggung_jawab_lokasi_2 %>
</p>

<p>
  <strong>Kontak penanggung jawab lokasi 2:</strong>
  <%= @survey_form.kontak_penanggung_jawab_lokasi_2 %>
</p>

<p>
  <strong>Transportasi menuju lokasi:</strong>
  <%= @survey_form.transportasi_menuju_lokasi %>
</p>

<p>
  <strong>Gambaran menuju lokasi:</strong>
  <%= @survey_form.gambaran_menuju_lokasi %>
</p>

<p>
  <strong>Kualitas akses internet:</strong>
  <%= @survey_form.kualitas_akses_internet %>
</p>

<%= link_to 'Edit', edit_survey_form_path(@survey_form) %> |
<%= link_to 'Back', survey_forms_path %>
